body{
    margin: 0;
    background-image: url(img/fondoUniverse.png);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.253);
}
img{
    margin-left: 50px;
    height: 100px;
}

.main{
    margin-right: 70px;
    display: flex;
    color: #fff;
}

h3{
    padding: 20px;
}
p{
    width: 45%;
}
.division{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 770px;
    color: aliceblue;
}

.btn-neon{
    position: relative;
    display: inline-block;
    pad: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{

    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px
    #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
}
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

@media (max-width:800px) {
    header{
        flex-direction: column;
        align-items: center;
    }
    .main{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    img{
        margin: 0;
    }
    h3{
        padding: 0;
    }
}